header {
    padding-top: 60px;
}

header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

header .logo img {
    height: 24px;
}

header a {
    text-decoration: none;
}

header .contact-us-menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    height: 65px;
    width: 240px;
    background-color: #F6523C;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

header ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

header ul li a {
    color: #000000;
}

header ul li a:hover {
    color: #F6523C;
}

header .menu-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .menu-line a {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

header .lang-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .lang-switcher ul {
    margin-right: 45px;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

header .lang-switcher ul li {
    padding-left: 5px;
    padding-right: 5px;
}

header .lang-switcher ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

header .lang-switcher ul li.active {
    text-decoration: underline;
}

header .lang-switcher ul li.start::after {
    padding-left: 7px;
    content: "|";
}

header .mobile-menu {
    cursor: pointer;
}

@media (max-width: 1280px) {
    header .menu-line a {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }
    header .lang-switcher ul li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
}

@media (max-width: 991px) {
    header .menu-line {
        display: none;
    }
    header .lang-switcher {
        display: none;
    }
}

footer {
    background-color: #000000;
    color: #FFFFFF;
}

footer .content {
    padding-top: 70px;
    padding-bottom: 160px;
}

footer .content h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer .content ul {
    padding: 0px;
    margin: 0px;
}

footer .content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer .content .info img {
    height: 40px;
}

footer .content .info ul li {
    margin-top: 32px;
}

footer .content .info ul li a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

footer .content .info ul li a:hover {
    color: #F6523C;
}

footer .content .contact-us-info .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}

footer .content .contact-us-info .items .item img {
    margin-right: 35px;
}

footer .content .contact-us-info .items .item p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0px;
}

footer .content .contact-us-info .items .item p a {
    text-decoration: none;
    color: #FFFFFF;
}

footer .content .contact-us-info .social {
    margin-top: 40px;
}

footer .content .contact-us-info .social img {
    width: 40px;
    height: 40px;
}

footer .content .contact-us-info .social a {
    margin-right: 30px;
}

footer .privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    border-top: 1px solid #FFFFFF;
}

footer .privacy span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1280px) {
    footer .content .info img {
        display: none;
    }
    footer .content .contact-us-info .social {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    footer .content h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }
    footer .content .info ul li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    footer .content .contact-us-info .items .item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    footer .content .contact-us-info .social {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    footer .content .contact-us-info .social a {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    footer .content {
        padding-bottom: 60px;
    }
    footer .content .info .column {
        width: 50%;
    }
    footer .content .contact-us-info {
        margin-top: 60px;
    }
    footer .content .contact-us-info .social {
        display: block;
    }
    footer .content .contact-us-info .social a {
        margin-right: 30px;
    }
    footer .privacy {
        padding: 25px;
    }
    footer .privacy span {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}

.quality {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    padding-top: 220px;
    padding-bottom: 220px;
}

.quality .title p {
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    margin-bottom: 0px;
}

.quality .info {
    margin-top: 160px;
}

.quality .info p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.quality .info h4 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
}

.quality .info img {
    width: 40px;
    height: 40px;
}

@media (max-width: 1280px) {
    .quality {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .quality .title p {
        font-weight: 600;
        font-size: 32px;
        line-height: 160%;
    }
    .quality .info {
        margin-top: 120px;
    }
    .quality .info p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }
}

@media (max-width: 991px) {
    .quality {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .quality .title p {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
    }
    .quality .info {
        margin-top: 80px;
    }
    .quality .info img {
        width: 30px;
        height: 30px;
    }
    .quality .info h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
    }
    .quality .info p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }
}

.contact-us {
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: 'Mulish';
    color: #000000;
}

.contact-us .title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-us .title h2 span {
    color: #F6523C;
}

.contact-us .title .items .item {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-us .title .items .item img {
    margin-right: 35px;
}

.contact-us .title .items .item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
}

.contact-us .title .items .item p a {
    text-decoration: none;
    color: #000000;
}

.contact-us form {
    border: 1px solid #929292;
    padding: 90px 120px 90px 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-us form .field-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.contact-us form .field-info .left,
.contact-us form .field-info .right {
    width: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact-us form .field-info input,
.contact-us form .field-info textarea {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #929292;
    border: none;
    border-bottom: 1px solid #929292;
    padding-bottom: 14px;
    padding-top: 14px;
    outline: none;
    width: 100%;
}

.contact-us form textarea {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #929292;
    border: none;
    border-bottom: 1px solid #929292;
    padding-bottom: 14px;
    padding-top: 14px;
    outline: none;
    width: 100%;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #929292;
    margin-bottom: 60px;
}

.contact-us form input[type=button],
.contact-us form input[type=submit] {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background-color: #F6523C;
    color: #FFFFFF;
    margin-left: auto;
    margin-bottom: 0px;
    border: none;
    padding: 16px 60px 16px 60px;
}

.contact-us form .policy input {
    opacity: 0;
}

.contact-us form .policy label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #929292;
}

.contact-us form .policy label a {
    text-decoration: none;
    color: #F6523C;
}

@media (max-width: 1280px) {
    .contact-us {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .contact-us .title h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
    }
    .contact-us .title .items .item p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }
    .contact-us form {
        padding: 70px 100px 70px 100px;
    }
    .contact-us form .field-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact-us form .field-info .left,
    .contact-us form .field-info .right {
        width: 100%;
    }
    .contact-us form .field-info input,
    .contact-us form .field-info textarea {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
    .contact-us form .policy label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
}

@media (max-width: 991px) {
    .contact-us {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .contact-us .title h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
    }
    .contact-us .title .items .item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .contact-us form {
        margin-top: 80px;
        padding: 70px 100px 70px 100px;
    }
    .contact-us form .field-info input,
    .contact-us form .field-info textarea {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .contact-us form .policy label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .contact-us form input[type=button],
    .contact-us form input[type=submit] {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .contact-us {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact-us form {
        border: none;
        margin-top: 60px;
        padding: 0px 0px 0px 0px;
    }
}

.stages-of-work {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 160px;
    padding-bottom: 160px;
}

.stages-of-work .title h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.stages-of-work .title p {
    padding-top: 30px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

.stages-of-work .items {
    padding-left: 130px;
}

.stages-of-work .items .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #FFFFFF;
}

.stages-of-work .items .number span {
    color: #F6523C;
    font-weight: 300;
    font-size: 48px;
    line-height: 130%;
}

.stages-of-work .items .number p {
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 60px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

.stages-of-work .items .number.end {
    border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 1280px) {
    .stages-of-work {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .stages-of-work .title h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
    }
    .stages-of-work .title p {
        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
    }
    .stages-of-work .items .number span {
        font-weight: 300;
        font-size: 36px;
        line-height: 130%;
    }
    .stages-of-work .items .number p {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }
}

@media (max-width: 991px) {
    .stages-of-work {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .stages-of-work .title h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
    }
    .stages-of-work .title p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    .stages-of-work .items {
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    .quality .stages-of-work {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.our-work {
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: 'Mulish';
    font-style: normal;
}

.our-work .title {
    margin-bottom: 60px;
}

.our-work .title h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.our-work .title h2 span {
    color: #F6523C;
}

.our-work .title p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.our-work .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.our-work .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    width: 33%;
}

.our-work .items .item img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 30px;
    width: 100%;
}

.our-work .items .item h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}

.our-work .items .item h4 a {
    text-decoration: none;
    color: #000000;
}

.our-work .items .item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

@media (max-width: 1280px) {
    .our-work {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .our-work .title h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
    }
    .our-work .title p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }
    .our-work .items .item h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
    }
    .our-work .items .item p {
        display: none;
    }
}

@media (max-width: 1279px) {
    .our-work {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .our-work .title h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
    }
    .our-work .title p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    .our-work .items .item h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
    }
    .our-work .items .item p {
        display: none;
    }
}

@media (max-width: 991px) {
    .our-work .items .item {
        width: 32%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .our-work {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .our-work .items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .our-work .items .item {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .our-work .items .item h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
    }
    .our-work .items .item p {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        display: block;
    }
}

.blog {
    background-color: #F5F5F5;
    color: #000000;
    padding-top: 160px;
    padding-bottom: 160px;
}

.blog .title {
    padding-bottom: 60px;
}

.blog .title h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
}

.blog .title p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

.blog .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.blog .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    width: 33%;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.blog .items .item img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 190px;
    height: 190px;
}

.blog .items .item h4 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 18px;
}

.blog .items .item h4 a {
    text-decoration: none;
    color: #000000;
}

.blog .items .item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 1280px) {
    .blog {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .blog .title h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
    }
    .blog .title p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
    }
    .blog .items .item {
        padding: 30px;
        padding-top: 80px;
    }
    .blog .items .item img {
        width: 100%;
        max-width: 190px;
        height: auto;
        max-height: 190px;
    }
    .blog .items .item h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }
    .blog .items .item p {
        display: none;
    }
}

@media (max-width: 991px) {
    .blog {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .blog .title h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
    }
    .blog .title p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    .blog .items .item {
        padding: 25px;
        padding-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
        width: 32%;
    }
    .blog .items .item img {
        width: 170px;
        height: 170px;
    }
    .blog .items .item h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }
}

@media (max-width: 767px) {
    .blog {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .blog .title h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
    }
    .blog .title p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    .blog .items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .blog .items .item {
        padding: 35px;
        padding-top: 80px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-bottom: 40px;
    }
    .blog .items .item img {
        width: 190px;
        height: 190px;
    }
    .blog .items .item h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
    }
    .blog .items .item p {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}

.about-company {
    padding-top: 160px;
    padding-bottom: 160px;
}

.about-company .title {
    color: #000000;
}

.about-company .title h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 120%;
    margin: 0px;
}

.about-company .title p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
}

.about-company .details-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 80px;
}

.about-company .details-info .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.about-company .details-info .list ul {
    margin: 0px;
    padding: 0px;
}

.about-company .details-info .list ul li {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 30px;
}

.about-company .details-info .list ul li.active {
    color: #F6523C;
}

.about-company .details-info .list-details {
    font-family: 'Mulish';
    font-style: normal;
    border-left: 1px solid #000000;
    padding-left: 40px;
    width: 80%;
}

.about-company .details-info .list-details .info {
    display: none;
}

.about-company .details-info .list-details .info.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about-company .details-info .list-details .info img {
    width: 100px;
}

.about-company .details-info .list-details .info h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.about-company .details-info .list-details .info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0px;
}

@media (max-width: 1280px) {
    .about-company {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .about-company .title h2 {
        font-weight: 800;
        font-size: 64px;
        line-height: 120%;
    }
    .about-company .title p {
        font-weight: 300;
        font-size: 20px;
        line-height: 160%;
    }
}

@media (max-width: 991px) {
    .about-company {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .about-company .title h2 {
        font-weight: 800;
        font-size: 40px;
        line-height: 120%;
    }
    .about-company .title p {
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
    }
    .about-company .details-info {
        margin-top: 40px;
    }
}

@media (max-width: 600px) {
    .about-company {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-company .title h2 {
        line-height: 150%;
    }
    .about-company .details-info {
        margin-top: 0px;
    }
    .about-company .details-info .list {
        width: 100%;
    }
    .about-company .details-info .list .list-details {
        margin-top: 25px;
        padding-left: 30px;
    }
    .about-company .details-info .list .list-details .info h4 {
        display: none;
    }
    .about-company .details-info .list .list-details .info p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-transform: none;
        color: #000000;
        padding-top: 15px;
    }
}

.btn-more {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    border: 1px solid #000000;
    width: 300px;
}

.btn-more a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
}

.btn-more a:hover {
    color: #FFFFFF;
}

.btn-more a::before {
    content: "";
    background-image: url(../../img/Vector.png);
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    position: absolute;
    right: 40px;
    bottom: 22px;
}

.btn-more:hover {
    background-color: #F6523C;
    cursor: pointer;
}

.btn-more:hover a {
    color: #FFFFFF;
}

.btn-more:hover a::before {
    content: "";
    background-image: url(../../img/Vector_white.png);
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    position: absolute;
    right: 40px;
    bottom: 22px;
}

@media (max-width: 1280px) {
    .btn-more a {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
    }
}

@media (max-width: 768px) {
    .btn-more a {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #FFFFFF;
    border: 1px solid #929292;
}


/* When the checkbox is checked, add a blue background */

.custom-checkbox input:checked~.checkmark {
    background-color: #F6523C;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul li {
    list-style-type: none;
}

body {
    font-family: 'Mulish' !important;
    font-style: normal;
    font-weight: 400;
}

.container-xxl {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.container-fluid {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

@media (min-width: 1320px) {
    .container-fluid {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}