@import "parts/header";
@import "parts/footer";
@import "parts/quality";
@import "parts/contact_us";
@import "parts/stages_of_work";
@import "parts/our_work";
@import "parts/blog";
@import "parts/about_company";
@import "./include/colors";
@import "./include/btn_more";
@import "./include/custom_checkbox";
ul {
    li {
        list-style-type: none;
    }
}

body {
    font-family: 'Mulish' !important;
    font-style: normal;
    font-weight: 400;
}

.container-xxl {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.container-fluid {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

@media(min-width: 1320px) {
    .container-fluid {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}