@import "../include/colors";
.about-company {
    padding-top: 160px;
    padding-bottom: 160px;
    .title {
        color: $color-dark;
        h2 {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 800;
            font-size: 96px;
            line-height: 120%;
            margin: 0px;
        }
        p {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 30px;
            margin-top: 30px;
            width: 90%;
        }
    }
    .details-info {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        .list {
            display: flex;
            width: 50%;
            ul {
                margin: 0px;
                padding: 0px;
                li {
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    color: $color-dark;
                    &.active {
                        color: $color-bright;
                    }
                    padding-bottom: 30px;
                }
            }
        }
        .list-details {
            font-family: 'Mulish';
            font-style: normal;
            border-left: 1px solid $color-dark;
            padding-left: 40px;
            width: 80%;
            .info {
                display: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                }
                img {
                    width: 100px;
                }
                h4 {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 28px;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }
                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .about-company {
        padding-top: 140px;
        padding-bottom: 140px;
        .title {
            h2 {
                font-weight: 800;
                font-size: 64px;
                line-height: 120%;
            }
            p {
                font-weight: 300;
                font-size: 20px;
                line-height: 160%;
            }
        }
    }
}

@media(max-width: 991px) {
    .about-company {
        padding-top: 90px;
        padding-bottom: 90px;
        .title {
            h2 {
                font-weight: 800;
                font-size: 40px;
                line-height: 120%;
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 160%;
            }
        }
        .details-info {
            margin-top: 40px;
        }
    }
}

@media(max-width: 600px) {
    .about-company {
        padding-top: 60px;
        padding-bottom: 60px;
        .title {
            h2 {
                line-height: 150%;
            }
        }
        .details-info {
            margin-top: 0px;
            .list {
                width: 100%;
                .list-details {
                    margin-top: 25px;
                    padding-left: 30px;
                    .info {
                        h4 {
                            display: none;
                        }
                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            text-transform: none;
                            color: $color-dark;
                            padding-top: 15px;
                        }
                    }
                }
            }
        }
    }
}