@import "../include/colors";
.blog {
    background-color: $color-light-2;
    color: $color-dark;
    padding-top: 160px;
    padding-bottom: 160px;
    .title {
        h2 {
            text-transform: uppercase;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 130%;
        }
        p {
            margin-top: 30px;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
        }
        padding-bottom: 60px;
    }
    .items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $color-light;
            margin-left: 10px;
            margin-right: 10px;
            width: 33%;
            padding: 50px;
            padding-top: 80px;
            padding-bottom: 80px;
            img {
                align-self: center;
                width: 190px;
                height: 190px;
            }
            h4 {
                text-transform: uppercase;
                margin-top: 30px;
                margin-bottom: 18px;
                a {
                    text-decoration: none;
                    color: $color-dark;
                }
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}

@media(max-width: 1280px) {
    .blog {
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
            h2 {
                font-weight: 500;
                font-size: 32px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
            }
        }
        .items {
            .item {
                padding: 30px;
                padding-top: 80px;
                img {
                    width: 100%;
                    max-width: 190px;
                    height: auto;
                    max-height: 190px;
                }
                h4 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
                p {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .blog {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }
        .items {
            .item {
                padding: 25px;
                padding-top: 40px;
                margin-left: 0px;
                margin-right: 0px;
                width: 32%;
                img {
                    width: 170px;
                    height: 170px;
                }
                h4 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 130%;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .blog {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }
        .items {
            flex-direction: column;
            .item {
                padding: 35px;
                padding-top: 80px;
                margin-left: 0px;
                margin-right: 0px;
                width: 100%;
                margin-bottom: 40px;
                img {
                    width: 190px;
                    height: 190px;
                }
                h4 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 130%;
                }
                p {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
    }
}