@import "../include/colors";
.contact-us {
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: 'Mulish';
    color: $color-dark;
    .title {
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 140%;
            text-transform: uppercase;
            span {
                color: $color-bright;
            }
            margin-bottom: 30px;
        }
        .items {
            .item {
                margin: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                img {
                    margin-right: 35px;
                }
                p {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    margin: 0px;
                    a {
                        text-decoration: none;
                        color: $color-dark;
                    }
                }
            }
        }
    }
    form {
        border: 1px solid $color-light-3;
        padding: 90px 120px 90px 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .field-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .left,
            .right {
                width: 46%;
                display: flex;
                flex-direction: column;
            }
            input,
            textarea {
                margin-bottom: 60px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: $color-light-3;
                border: none;
                border-bottom: 1px solid $color-light-3;
                padding-bottom: 14px;
                padding-top: 14px;
                outline: none;
                width: 100%;
            }
        }
        textarea {
            margin-bottom: 60px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $color-light-3;
            border: none;
            border-bottom: 1px solid $color-light-3;
            padding-bottom: 14px;
            padding-top: 14px;
            outline: none;
            width: 100%;
            height: 50px;
            width: 100%;
            border-bottom: 1px solid $color-light-3;
            margin-bottom: 60px;
        }
        input {
            &[type=button],
            &[type=submit] {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                background-color: $color-bright;
                color: $color-light;
                margin-left: auto;
                margin-bottom: 0px;
                border: none;
                padding: 16px 60px 16px 60px;
            }
        }
        .policy {
            input {
                opacity: 0;
            }
            label {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: $color-light-3;
                a {
                    text-decoration: none;
                    color: $color-bright;
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .contact-us {
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
            h2 {
                font-weight: 600;
                font-size: 40px;
                line-height: 140%;
            }
            .items {
                .item {
                    p {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
            }
        }
        form {
            padding: 70px 100px 70px 100px;
            .field-info {
                display: flex;
                flex-direction: column;
                .left,
                .right {
                    width: 100%;
                }
                input,
                textarea {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                }
            }
            .policy {
                label {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .contact-us {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 140%;
            }
            .items {
                .item {
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
        form {
            margin-top: 80px;
            padding: 70px 100px 70px 100px;
            .field-info {
                input,
                textarea {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                }
            }
            .policy {
                label {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                }
            }
            input {
                &[type=button],
                &[type=submit] {
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .contact-us {
        padding-top: 60px;
        padding-bottom: 60px;
        form {
            border: none;
            margin-top: 60px;
            padding: 0px 0px 0px 0px;
        }
    }
}