@import "../include/colors";
footer {
    background-color: $color-dark;
    color: $color-light;
    .content {
        padding-top: 70px;
        padding-bottom: 160px;
        h3 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        ul {
            padding: 0px;
            margin: 0px;
        }
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
                height: 40px;
            }
            ul {
                li {
                    margin-top: 32px;
                    a {
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        text-transform: capitalize;
                        color: $color-light;
                        text-decoration: none;
                        &:hover {
                            color: $color-bright;
                        }
                    }
                }
            }
        }
        .contact-us-info {
            .items {
                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-bottom: 20px;
                    img {
                        margin-right: 35px;
                    }
                    p {
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        margin-bottom: 0px;
                        a {
                            text-decoration: none;
                            color: $color-light;
                        }
                    }
                }
            }
            .social {
                margin-top: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
                a {
                    margin-right: 30px;
                }
            }
        }
    }
    .privacy {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        border-top: 1px solid $color-light;
        span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

@media(max-width: 1280px) {
    footer {
        .content {
            .info {
                img {
                    display: none;
                }
            }
            .contact-us-info {
                .social {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    footer {
        .content {
            h3 {
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
            }
            .info {
                ul {
                    li {
                        a {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .contact-us-info {
                .items {
                    .item {
                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
                .social {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    footer {
        .content {
            padding-bottom: 60px;
            .info {
                .column {
                    width: 50%;
                }
            }
            .contact-us-info {
                margin-top: 60px;
                .social {
                    display: block;
                    a {
                        margin-right: 30px;
                    }
                }
            }
        }
        .privacy {
            padding: 25px;
            span {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}