@import "../include/colors";
header {
    padding-top: 60px;
    .logo {
        display: flex;
        align-items: center;
        justify-content: start;
        img {
            height: 24px;
        }
    }
    a {
        text-decoration: none;
    }
    .contact-us-menu {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 65px;
            width: 240px;
            background-color: $color-bright;
            color: $color-light;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        li {
            a {
                color: $color-dark;
                &:hover {
                    color: $color-bright;
                }
            }
        }
    }
    .menu-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
        }
        .active {}
    }
    .lang-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            margin-right: 45px;
            justify-content: right;
            li {
                padding-left: 5px;
                padding-right: 5px;
                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                }
                &.active {
                    text-decoration: underline;
                }
                &.start::after {
                    padding-left: 7px;
                    content: "|";
                }
            }
        }
    }
    .mobile-menu {
        cursor: pointer;
    }
}

@media(max-width: 1280px) {
    header {
        .menu-line {
            a {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }
        }
        .lang-switcher {
            ul {
                li {
                    a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px) {
    header {
        .menu-line {
            display: none;
        }
        .lang-switcher {
            display: none;
        }
    }
}

@media(max-width: 768px) {
    header {}
}