@import "../include/colors";
.our-work {
    background-color: $color-light;
    color: $color-dark;
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: 'Mulish';
    font-style: normal;
    .title {
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            span {
                color: $color-bright;
            }
        }
        p {
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0.01em;
        }
        margin-bottom: 60px;
    }
    .items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $color-light;
            margin-left: 10px;
            margin-right: 10px;
            width: 33%;
            img {
                align-self: center;
                margin-bottom: 30px;
                width: 100%;
            }
            h4 {
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $color-dark;
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    color: $color-dark;
                }
            }
            p {
                font-weight: 300;
                font-size: 18px;
                line-height: 150%;
            }
        }
    }
}

@media(max-width: 1280px) {
    .our-work {
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
            }
        }
        .items {
            .item {
                h4 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                }
                p {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 1279px) {
    .our-work {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
            }
        }
        .items {
            .item {
                h4 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                }
                p {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .our-work {
        .items {
            .item {
                width: 32%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

@media(max-width: 767px) {
    .our-work {
        padding-top: 80px;
        padding-bottom: 80px;
        .items {
            display: flex;
            flex-direction: column;
            .item {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                h4 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 150%;
                }
                p {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 150%;
                    display: block;
                }
                margin-bottom: 40px;
            }
        }
    }
}