@import "../include/colors";
.quality {
    background-color: $color-dark;
    color: $color-light;
    font-family: 'Mulish';
    font-style: normal;
    padding-top: 220px;
    padding-bottom: 220px;
    .title {
        p {
            font-weight: 600;
            font-size: 40px;
            line-height: 160%;
            margin-bottom: 0px;
        }
    }
    .info {
        margin-top: 160px;
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
        }
        h4 {
            padding-top: 30px;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-width: 1280px) {
    .quality {
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
            p {
                font-weight: 600;
                font-size: 32px;
                line-height: 160%;
            }
        }
        .info {
            margin-top: 120px;
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}

@media(max-width: 991px) {
    .quality {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            p {
                font-weight: 600;
                font-size: 24px;
                line-height: 160%;
            }
        }
        .info {
            margin-top: 80px;
            img {
                width: 30px;
                height: 30px;
            }
            h4 {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}

@media(max-width: 768px) {
    .quality {}
}