.stages-of-work {
    background-color: $color-dark;
    color: $color-light;
    padding-top: 160px;
    padding-bottom: 160px;
    .title {
        h2 {
            font-weight: 600;
            font-size: 40px;
            line-height: 130%;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
        p {
            padding-top: 30px;
            padding-bottom: 60px;
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
        }
    }
    .items {
        padding-left: 130px;
        .number {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid $color-light;
            span {
                color: $color-bright;
                font-weight: 300;
                font-size: 48px;
                line-height: 130%;
            }
            p {
                margin: 0px;
                padding-top: 35px;
                padding-bottom: 35px;
                padding-left: 60px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
            }
            &.end {
                border-bottom: 1px solid $color-light;
            }
        }
    }
}

@media(max-width: 1280px) {
    .stages-of-work {
        padding-top: 120px;
        padding-bottom: 120px;
        .title {
            h2 {
                font-weight: 600;
                font-size: 32px;
                line-height: 130%;
            }
            p {
                padding-top: 20px;
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
            }
        }
        .items {
            .number {
                span {
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 130%;
                }
                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .stages-of-work {
        padding-top: 80px;
        padding-bottom: 80px;
        .title {
            h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }
        .items {
            padding-left: 0px;
        }
    }
}

@media(max-width: 768px) {
    .quality {
        .stages-of-work {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}