@import "colors";
.btn-more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    border: 1px solid $color-dark;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-dark;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.01em;
        &:hover {
            color: $color-light;
        }
        &::before {
            content: "";
            background-image: url(../../img/Vector.png);
            background-size: 17px 17px;
            height: 17px;
            width: 17px;
            position: absolute;
            right: 40px;
            bottom: 22px;
        }
    }
    &:hover {
        background-color: $color-bright;
        cursor: pointer;
        a {
            color: $color-light;
            &::before {
                content: "";
                background-image: url(../../img/Vector_white.png);
                background-size: 17px 17px;
                height: 17px;
                width: 17px;
                position: absolute;
                right: 40px;
                bottom: 22px;
            }
        }
    }
    width: 300px;
}

@media(max-width: 1280px) {
    .btn-more {
        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
        }
    }
}

@media(max-width: 768px) {
    .btn-more {
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }
    }
}